# Space after Novatel vendor attribute is needed
# udevinfo -a -p /block/sr1

# Kill the Volume Manager popup for the built in driver CD + eject to flip
ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
   ATTRS{vendor}=="Novatel ", \
   RUN:="/usr/sbin/eject %k"

# Call the driver loading script
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1450", \
   RUN+="/usr/sbin/vmc-novatel.sh %s{idVendor} %s{idProduct}"

# Call the driver loading script
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="1410", ATTRS{idProduct}=="4400", \
   RUN+="/usr/sbin/vmc-novatel.sh %s{idVendor} %s{idProduct}"

