# Spaces after ZTE vendor attribute are needed on some devices
# udevinfo -a -p /block/sr1

# On some kernels, such as those standard on Fedora 10, the usb-storage
# module specifically ignores the ZTE CD storage device, this means we don't have
# any device to eject. A workaround is to use usb_modeswitch to send an eject byte
# sequence to the device. Usb_modeswitch of at least 0.9.7 is required so that
# the endpoint can be discovered programatically

# Call the usb_modeswitch to eject the CD device
ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0040", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0101", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="2000", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

# Kill the Volume Manager popup for the built in driver CD + eject to flip
#ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
#   ATTRS{vendor}=="ZTE     ", \
#   RUN:="/usr/sbin/vmc-settle-eject.sh %k 12"

#ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
#   ATTRS{vendor}=="ZTE Corp", \
#   RUN:="/usr/sbin/vmc-settle-eject.sh %k 12"

#ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
#   ATTRS{vendor}=="Vodafone", \
#   RUN:="/usr/sbin/vmc-settle-eject.sh %k 12"

# Call the driver loading script
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0016", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0022", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0025", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0049", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0052", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0055", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0063", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0104", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="2002", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

