[Desktop Entry]
Name=Mobile Connect
Name[af]=
Name[am]=
Name[ar]=
Name[be]=
Name[bg]=
Name[bn]=
Name[bn_IN]=
Name[ca]=
Name[cs]=
Name[cy]=
Name[da]=
Name[de]=
Name[el]=
Name[en_GB]=
Name[es]=Vodafone Mobile Connect
Name[et]=
Name[fa]=
Name[fi]=
Name[fr]=
Name[gu]=
Name[he]=
Name[hi]=
Name[hr]=
Name[hu]=
Name[hy]=
Name[id]=
Name[is]=
Name[it]=
Name[ja]=
Name[ka]=
Name[ko]=
Name[lt]=
Name[mk]=
Name[ms]=
Name[nb]=
Name[nl]=
Name[no]=
Name[nso]=
Name[pa]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ro]=
Name[ru]=
Name[sk]=
Name[sl]=
Name[sr]=
Name[sr@Latn]=
Name[sv]=
Name[ta]=
Name[th]=
Name[tr]=
Name[uk]=
Name[vi]=
Name[zh_CN]=
Name[zh_TW]=
Name[zu]=
GenericName=Mobile Connect
GenericName[zh_CN]=
GenericName[zh_TW]=
GenericName[de]=
GenericName[it]=
GenericName[fr]=
GenericName[es]=Vodafone Mobile Connect
GenericName[pt]=
GenericName[nl]=
GenericName[ja]=
GenericName[ru]=
Comment=Vodafone Connectivity Application
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=Aplicacion de Vodafone para Conectividad 3G
Comment[fr]=
Comment[gu]=
Comment[hi]=
Comment[hu]=
Comment[is]=
Comment[it]=
Comment[ja]=
Comment[ko]=
Comment[nb]=
Comment[nl]=
Comment[pa]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sr]=
Comment[sr@Latn]=
Comment[sv]=
Comment[ta]=
Comment[tr]=
Comment[uk]=
Comment[zh_CN]=
Comment[zh_TW]=
Exec=vodafone-mobile-connect-card-driver-for-linux
Icon=vodafone.png
Terminal=0
Type=Application
Encoding=UTF-8
X-Desktop-File-Install-Version=0.10
Categories=Network;Application;
