SUBSYSTEMS=="scsi", KERNEL=="sr[0-9]*", ATTRS{vendor}=="Novatel ", SYMLINK="novatel-storage"
SYSFS{idVendor}=="1410", SYSFS{idProduct}=="5010", RUN+="/opt/vmc/usr/sbin/ovation.sh"
