# Spaces after ZTE vendor attribute are needed on some devices
# udevinfo -a -p /block/sr1

# Call the usb_modeswitch to eject the CD device
ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0040", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0101", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="1007", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="1009", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="2000", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

# Call the driver loading script
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0016", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0022", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0025", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0037", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0049", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0052", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0055", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0063", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="0104", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1008", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1010", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb", \
   ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="2002", \
   SUBSYSTEM=="usb_device", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

