
# UDEV 090 as installed on EeePC 701 doesn't like backslashed newlines
# so formatting is not human friendly.
# udevinfo -a -p /block/sr0 will show the usable attributes

# Kill any Volume Management for Huawei CD devices
# Spaces after HUAWEI vendor attribute are significant
ACTION=="add", BUS=="scsi", DRIVER=="sr", SYSFS{vendor}=="HUAWEI  ", OPTIONS+="ignore_device last_rule", RUN:=""

# Call flip + driver load script
ACTION=="add", SUBSYSTEM=="usb", SYSFS{idVendor}=="12d1", SYSFS{idProduct}=="1001", SYSFS{bNumInterfaces}==" 1", RUN:="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"
ACTION=="add", SUBSYSTEM=="usb", SYSFS{idVendor}=="12d1", SYSFS{idProduct}=="1003", SYSFS{bNumInterfaces}==" 1", RUN:="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"
ACTION=="add", SUBSYSTEM=="usb", SYSFS{idVendor}=="12d1", SYSFS{idProduct}=="1411", SYSFS{bNumInterfaces}==" 1", RUN:="/usr/sbin/vmc-huawei.sh %s{idVendor} %s{idProduct}"

# Stop ASUS-3gtool from stealing the ports, but still trigger the HAL update
ACTION=="add", BUS=="usb", SYSFS{idVendor}=="12d1", SYSFS{idProduct}=="1001", RUN:="socket:/org/freedesktop/hal/udev_event"
ACTION=="add", BUS=="usb", SYSFS{idVendor}=="12d1", SYSFS{idProduct}=="1003", RUN:="socket:/org/freedesktop/hal/udev_event"
ACTION=="add", BUS=="usb", SYSFS{idVendor}=="12d1", SYSFS{idProduct}=="1411", RUN:="socket:/org/freedesktop/hal/udev_event"

