# Flip the Sony Ericsson MD300 device again
ACTION=="add", SUBSYSTEM=="usb",\
ATTR{idVendor}=="0fce", ATTR{idProduct}=="d0cf",\
PROGRAM="/bin/sh -c 'echo 3 > /sys/bus/usb/devices/%b/bConfigurationValue'"


