# Call the usb_modeswitch to eject the CD device
ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0040", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0101", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

# Call the usb_modeswitch to eject the CD device
ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="2000", \
   RUN+="/usr/sbin/vmc-usb_modeswitch-eject.sh %s{idVendor} %s{idProduct}"

## Kill the Volume Manager popup for the built in driver CD + eject to flip
# Spaces after ZTE vendor attribute are needed on some devices
# udevinfo -a -p /block/sr1
#ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
#   ATTRS{vendor}=="ZTE     ", \
#   RUN:="/usr/sbin/vmc-settle-eject.sh %k 12"
#
#ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
#   ATTRS{vendor}=="ZTE Corp", \
#   RUN:="/usr/sbin/vmc-settle-eject.sh %k 12"
#
#ACTION=="add", SUBSYSTEMS=="scsi", DRIVERS=="sr", \
#   ATTRS{vendor}=="Vodafone", \
#   RUN:="/usr/sbin/vmc-settle-eject.sh %k 12"

# Call the driver loading script
ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0016", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0022", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0025", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0049", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0052", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0055", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0063", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="0104", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

ACTION=="add", SUBSYSTEM=="usb", \
   ATTR{idVendor}=="19d2", ATTR{idProduct}=="2002", \
   RUN+="/usr/sbin/vmc-zte.sh %s{idVendor} %s{idProduct}"

